*{
text-align:center;
margin:0;
padding:0;

}
.parent {
    background-color: green;
    min-height: 100px;
    padding:2px;
    display: flex;
}

.child {
    min-height: 50px;
    min-width: 50px;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}
.example1 {
    justify-content: space-around;
    align-items: center;
}

.example2 {

}
    .mainbox {
        background-color: yellow;
        flex: 3;
        align-items: stretch;
    }
    .aside1 {
        background-color: lightblue;
        flex: 1;
    }
    .aside2 {
        background-color: pink;
        flex: 1;
    }

.example3 .child {
    flex: 1;
}


















